<%- include('partials/header'); -%>


<header class="b-header login-header">
    </header>
    
    <main>

      <div>
        <h1 class="b-vertical">Bling Bank Bling</h1>
      </div>

      <section class="b-login-section b-space">
        
        <h4 class="b-login-title b-space">Happy to have you back.</h4>
        <form class="b-login-form" action="/signup">
          <h2>Login</h2>
          <div class="b-login-wrapper b-subtitle">
            
              <label for="email">Email</label>
              <input class="b-input-login" type="text" name="email"/>
          
              <div class="email error"></div>
              <label for="password">Password</label>
              <input class="b-input-login" type="password" name="password"/>
          
              <div class="password error"></div>
            </div>

          </form>

        </section>
        
        <div class="">
          <a href="/">
            <div class="b-login-btn">
              <h3 class="">Login</h3>
            </div>
          </a>
    
        </div>
    </main>

<%- include('partials/footer'); -%>