<%- include('partials/header'); -%>


<header class="b-header login-header">
    </header>
    
    <main>

      <div>
        <h1 class="b-vertical">Bling Bank Bling</h1>
      </div>

      <section class="b-login-section b-space">

        <h4 class="b-login-title b-space">Happy to see you again.</h4>
        <form id="form1" class="b-login-form" action="/signup">
          <h2>Login</h2>
          <!-- <div class="b-login-wrapper b-subtitle"> -->

              <label for="email">Email</label>
              <input class="b-input-login" type="text" name="email" required/>
              <div class="email error"></div>
          
              <label for="password">Password</label>
              <input class="b-input-login" type="password" name="password" required/>
              <div class="password error"></div>

            <!-- </div> -->
          </form>
        </section>

        
        <div class="b-login-btn">
          <button class="" type="submit" form="form1" value="Submit"> 
            <h2>
              Login
            </h2>
          </button>
  
        </div>

    </main>

    
    <script>
      const form = document.querySelector('form');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        console.log('password', password);
        console.log('email',email );
      });
    </script>

<%- include('partials/footer'); -%>