<%- include('partials/header'); -%>


    <header class="b-header">
    </header>
    
    <main>
      <div>
        <h1 class="b-vertical">Bling Bank Bling</h1>
      </div>


      <section class="b-login-section b-space">

        <h4 class="b-space">The only banking app you'll ever need.</h4>
        <form class="b-login-form" action="/signup">
          <h2>Signup</h2>
          <div class="b-login-wrapper b-subtitle">

              <label for="email">Email</label>
              <input class="b-input-login" type="text" name="email"/>
          
              <div class="email error"></div>
              <label for="password">Password</label>
              <input class="b-input-login" type="password" name="password"/>

              <div class="password error"></div>
            </div>
          </form>
        </section>


        <div class="">
          <a href="../index.html">
            <div class="b-login-btn">
              <h3 class="">Sign Up</h3>
            </div>
          </a>

        </div>
    </main>
 
<%- include('partials/footer'); -%>