/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Futura";
  font-weight: 400;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: #1D1B34;
  overflow: hidden; 
}

a { text-decoration: none; }

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  }

.title {
  font-size: 18px;
  color: rgb(233, 233, 233);
}

.b-subtitle {
  color: #55546D;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.b-btn {
  display: flex;
  border: 1px solid #55546D;
  border-radius: 13px;
  padding: 5px 5px 2px 10px;
}

.b-trippy-line { 
  margin: 35px 60px;
  height: 1px;
  background: #55546D;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#1D1B34), to(#1D1B34), color-stop(50%,#55546D));
  opacity: 0.5;
}

.b-space {
  padding: 5px 30px;
}

.b-error{
  color: #1d1b34;
  font-size: 10px;
  text-transform: none;
}

/* HEADER */
.b-header {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.b-header h1 {
  font-size: 25px;
  font-weight: 400;
  flex: 2;
  text-align: center;
  text-transform: uppercase;
}

.b-menu-icon-wrapper {
  background-color: #22223A;
  border-radius: 500px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-dots-wrapper div {
  border-radius: 500px;
  height: 5px;
  width: 5px;
  margin: 4px 2px;
} 

.b-light-dot {
  background-color: #A1ABBC;
}

.b-dark-dot {
  background-color: #55546D;
}

.b-icon-wrapper {
  background-color: #22223A;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.b-icon-wrapper .b-avatar {
  width: 50px;
  border-radius: 500px;
}

.b-calendar-wrapper svg{
  transform: scale(0.8);
  opacity: 0.5;
}

/* BALANCE WRAPPER */
.b-balance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.b-balance .b-balance-amount{
  font-size: 25px;
  letter-spacing: 1px;
}

.b-balance .b-balance-amount span {
  font-size: 16px;
}

/* ACTIVITY */
.b-activity-section {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.b-activity-title {
  font-size: 17px;
}

.b-btn h4 {
  font-size: 13px;
  margin: 1px 2px 0 0;
}

.b-btn svg {
  transform: scale(0.7);
}

/* GRAPH */
.b-graph-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.b-graph-img {
  height: 200px;
  align-self: center;
}

.b-months {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  margin-top: 15px;
}

#b-months-active {
  color: white;
}

.b-months h3 {
  font-size: 11px;
  color: #555460;
}

/* CREDIT CARD */
.b-card-section {
  display: flex;
	position: absolute;
	bottom: 0;
	padding: 10px;
}

.b-card-wrapper {
	height: 200px;
	width: 150px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	padding: 9px 23px 18px 23px;
	background: linear-gradient(45deg, #ac278a, #5855FC);
}

.b-card-wrapper-2 {
  background: linear-gradient(135deg, #2D2038, #5855FC);
}

.b-card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-top: 15px;
}

.b-card-top span {
  font-size: 12px;
  opacity: 0.5;
}

.b-card-bottom {
  font-size: 11px;
} 

.b-card-bottom h3 {
  margin-bottom: 8px;
} 

.b-card-bottom span {
  letter-spacing: 2px;
} 

.b-card-top img {
  height: 15px;
  margin-left: -5px;
}

/* EXPENSES COMPONENT */
.b-transactions-section {
  border-top: 1px solid #1d1b34;
  border-radius: 30px;
  background: linear-gradient(358deg, #1d1b34, #22223a);
}

.b-transactions-up {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.b-drag {
  border: 2px solid #ac278a;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  opacity: 0.5;
  margin: 10px auto;
  width: 55px;
}

.b-transactions {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 25px 0;
}

.b-expenses-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px;
}

.b-item-descr {
  flex: 0 0 100px;
}

.b-item-name {
  margin-bottom: 10px; 
}

.b-item-time {
  opacity: 0.5;
}

.b-item-amount span {
  font-size: 12px;
  opacity: 0.5;
}

.b-expenses-icon {
  background: linear-gradient(45deg, #ac278a, #5855FC);
}

/* HELLO SECTION */ 
.b-overview-subheader {
  padding: 5px 30px;
}

.b-overview-section {
  display: flex;  
  justify-content: space-between;
  padding: 10px 30px;
}

.b-overview {
  height: 110px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 35px 15px;
  background: linear-gradient(180deg, #ac278a, #5855FC);
}

.b-overview-title {
  opacity: 0.5;
}


.b-qrcode-icon {
  margin: 20px 0px;
}

.b-qrcode-section {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-transform: capitalize;
}

/* QR CODE */
.b-input-amount[type=number] {
  width: 30%;
  padding: 4px;
  margin: 10px 0;
  background: #22223a;
  border-radius: 30px;
  border: 1px solid #55546d;
  opacity: 0.5;
}

.b-input-required[type=number] {
  border: 5px solid #ac278a;
}

.b-qr-btn h4 {
  font-size: 13px;
  margin: 0px 3px 0 0;
  padding: 5px 15px;
}

.b-qrcode-wrapper {
  margin-top: 20px;
  border: 15px solid;
  padding: 15px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ac278a, #5855FC);
}

/* LOGIN & SIGNUP */
.b-login-section {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.b-login-form {
  background: linear-gradient(to left, #ac278a, #5855FC);
  margin: 10px;
  border-radius: 15px;
  padding: 18px;
}

.b-input-login {
  width: 100%;
  padding: 4px;
  margin: 10px 0;
  background: #22223a;
  border-radius: 30px;
  border: 1px solid #55546d;
  opacity: 0.5;
}


.b-vertical {
  transform: rotate(338deg);
  color: white;
  font-size: 70px;
  text-transform: uppercase;
  position: relative;
  /* top: -25px; */
  top: -105px;
  left: 130px;
}

.b-login-btn {
  text-align: center;
  border: 1px solid #55546D;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 40px;
}

.b-login-hyperlink  {
  font-size: 11px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #5855FC;
}

/* MEDIA QUERIES */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /* login & signup */
    .login-header {
      margin: 10px;
    }

    .b-vertical {
      top: 0px;
      left: 130px;
    }

    .b-login-section {
      margin: 150px 110px 70px 110px;
    }

    .b-space {
      padding: 15px 30px;
    }

    .b-login-title {
      padding: 25px;
    }

    .b-login-btn {
      margin: 0 150px;
    }

    .b-login-form {
      margin:0;
    }
  
    /* wallet */

    .b-activity-section {
      justify-content: space-around;
    }

    .b-card-section {
      display: flex;
      position: unset;
      justify-content: center;
      margin-top: 100px;
    }

    .b-months {
      justify-content: space-around;
      margin: 0px 100px;
    }

    .b-graph-img {
      height: 300px;
  }

  /* expenses */
    .b-expenses-item {
      padding: 25px;
    }

  /* profile */

    .b-overview-section {
      justify-content: space-around;
      margin: 50px;
    }
    
    .b-overview,
    .b-account-section,
    .b-qrcode-section,
    .b-qraccount-section {
      font-size: 20px;
    }

    .b-subtitle {
      font-size: 15px;
    }

  
  /* qrcode */
  .b-account-section,
  .b-qraccount-section {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    text-align: center;
  }

  .b-overview-subheader {
    display:none;
  }

  .b-qr-btn h4 {
    font-size: 17px;
  }
}


@media only screen 
  and (min-device-width: 1024px) {
    .b-desktop-title-wrapper {
      width: 85%;
    }

    .b-vertical {
      top: 10px;
      left: 130px;
      width: 15%;
      font-size: 170px;
    }
   .b-desktop-wrapper {
     display: flex;
    } 

    .b-login-section > h4 {
      font-size: 30px;
      padding: 20px;
    }

    .b-login-form {
      padding: 20px;
      font-size: 18px;
  }

    .b-input-login,
    .b-login-btn {
      padding: 10px;
    }

    button > h2 {
      font-size: 20px;
      text-transform: uppercase;
    }

    /* dashboard */
    .b-activity-section {
      justify-content: space-around
    }

    .b-card-section {
      position: unset;
      justify-content: center;
  }

    .b-months {
      justify-content: space-around;
      align-items: center;
      margin: 0 450px;
    }

    .b-balance-section {
      margin-bottom: 10px;
    }

    .b-card-wrapper {
      height: 120px;
    }
    .b-expenses-item {
      padding: 22px;
    }

    .b-overview-section {
      justify-content: space-around;
    }

    .b-account-section {
      display: flex;
      justify-content: center;
    }

    .b-qrform {
      display: flex;
      justify-content: center;
    }

    .b-drag {
      border: 4px solid #ac278a;
      border-radius: 30px;
      margin: 10px auto;
    }
  }