<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../style.css">

  <title>Bling Bank Bling</title>
</head>


<body>


  <header class="b-header">

    <a href="../index.html">
    <div class="b-menu-icon-wrapper">

        <div class="b-dots-wrapper">
          <div class="b-light-dot"></div>
          <div class="b-dark-dot"></div>
        </div>


        <div class="b-dots-wrapper">
          <div class="b-dark-dot"></div>
          <div class="b-light-dot"></div>
        </div>
      </div>
    </a>

    <h1>Expenses</h1>
    <a href="../components/hello.html"> 
      <div class="b-icon-wrapper">
        <img class="b-avatar" src="../img/b-linda-avatar.jpg" alt="User Avatar">
      </div>
    </a>

  </header>

  <main>
    <section class="b-balance-section">
      <h3 class="b-subtitle">My balance</h3>
      <h1 class="b-balance-amount">15,269 <span> € </span></h1>
    </section>

    <section id="b-toggle-trans"  class="b-transactions-section">

      <hr class="b-drag" onclick="toggleExpenses()">

      <div class="b-transactions">
        <h3 class="b-trans-title">Last transactions</h3>
        <h4 class="b-subtitle" onclick="toggleExpenses()">View all</h4>
      </div>

      <div class="b-expenses-list">
        <ul>
          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <div>BS</div>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Beauty salon</div>
              <div class="b-item-time">04:40 PM</div>
            </div>
            <div class="b-item-amount">- 322.40 <span> €</span></div>
          </li>

          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <i class="fas fa-hamburger"></i>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Sushi Dinner</div>
              <div class="b-item-time">08:15 PM</div>
            </div>
            <div class="b-item-amount">- 322.40 <span>€</span></div>
          </li>

          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <i class="fas fa-hamburger"></i>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Carrot Juice</div>
              <div class="b-item-time">09:20 AM</div>
            </div>
            <div class="b-item-amount">- 03.40 <span>€</span></div>
          </li>

          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <div>MB</div>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Med Books</div>
              <div class="b-item-time">09:00 AM</div>
            </div>
            <div class="b-item-amount">- 19.40 <span>€</span></div>
          </li>

          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <i class="fas fa-car"></i>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Carwash</div>
              <div class="b-item-time">09:00 AM</div>
            </div>
            <div class="b-item-amount">- 109.40 <span>€</span></div>
          </li>

          <li class="b-expenses-item">
            <div class="b-icon-wrapper b-expenses-icon">
              <i class="fas fa-shoe-prints"></i>
            </div>
            <div class="b-item-descr">
              <div class="b-item-name">Salsa Class</div>
              <div class="b-item-time">10:00 PM</div>
            </div>
            <div class="b-item-amount">- 16.00 <span>€</span></div>
          </li>
          
          
        </ul>
      </div>

    </section>
  </main>
</body>

  <script src="../js/script.js"></script>
</html> 