<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../style.css">

  <title>Bling Bank Bling</title>
</head>
<body>
  <header class="b-header">

    <div class="b-icon-wrapper">
      <img class="b-avatar" src="../img/b-linda-avatar.jpg" alt="User Avatar">
    </div>

    <h1>Hi, Linda Luisa!</h1>
    
  </header>
  
  <section class="b-overview-subheader">
    <h3 class="">Welcome back!</h3>
  </section>


  <section class="b-overview-section">
  <div class="b-overview">
    <h6 class="b-overview-title">Total balance</h6>
    <h4 class="b-overview-amount">15,269 €</h4>
  </div>
  <div class="b-overview">
    <h6 class="b-overview-title">Monthly spending</h6>
    <h4 class="b-overview-amount">7,175 €</h4>
  </div>

</section>

<div class="b-trippy-line"></div>

<section class="b-account-section">
  <div class="b-account">
    <h3 class="b-title">Name</h3>
    <h4 class="b-subtitle">Linda Luisa Valle de Rosas</h4>
  </div>
  <div class="b-account">
    <h3 class="b-title">Bank Account</h3>
    <h4 class="b-subtitle">B6715 Cool Bank</h4>
  </div>
  <div class="b-account">
    <h3 class="b-title">IBAN</h3>
    <h4 class="b-subtitle">DE61500105172558634445</h4>
  </div>
  <div class="b-account">
    <h3 class="b-title">BIC</h3>
    <h4 class="b-subtitle">HELADEF1234</h4>
  </div>
    

</section>

<div class="b-trippy-line"></div>

<section class="b-qrcode-section">
  <div><h3>Payment requests</h3></div>
  <div><h3>Generate QR Code</h3></div>
  <a href="./qrcode.html">
    <div class="b-menu-icon-wrapper b-qrcode-icon"><i class="fas fa-qrcode"></i></div>
  </a>

  <!-- TODO: QR Code API Feature -->

</section>
  
</body>
<!-- <script src="../js/script.js"></script> -->

</html>