<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../style.css">
  <title>Bling Bank Bling</title>
</head>
<body>

  <header class="b-header">

    <a href="../index.html">
      <div class="b-menu-icon-wrapper">

        <div class="b-dots-wrapper">
          <div class="b-light-dot"></div>
          <div class="b-dark-dot"></div>
        </div>


        <div class="b-dots-wrapper">
          <div class="b-dark-dot"></div>
          <div class="b-light-dot"></div>
        </div>

      </div>
    </a>

    <h1>QR Code</h1>
 
      <div class="b-menu-icon-wrapper"><i class="fas fa-qrcode"></i></div>


</header>

<main>

</main>
</body>
</html>